.body{
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ), url("https://media.discordapp.net/attachments/460892961862057984/943257909918334986/wp5264675-1920x1080-aesthetic-wallpapers.jpg?width=1340&height=754");
    background-size: cover;
    font-family: 'Playfair Display', serif;
}

.title
{
    font-size: 100px;
}

.author
{
    font-size: 30px;
}
.button{
    background-color: #efb8e4; 
    border: none;
    color: #000000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.buttons
{
    background-color: #eb9cdb; 
    color: black; 
    border: 2px solid #eb9cdb;
}

.buttons:hover{
    background-color: white;
    color: black;
}
