.l4 input {
	padding: 0;
	text-align: center;
	height: 20px;
	width: 20px;
	text-align: center;
	font-size: 10px;
}

.l4 #main{
    background-image: linear-gradient(180deg, #a1a7ff, #ffffff);
    height: 5em;
}

.l4 .tipsFade{
    animation: fadeIn 1s;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    30%{opacity: 0.5;}
    100%{opactiy:1;}
}

.l4 .step {
    position: absolute;
    background-color: #d5e9ff;
}

.l4 #s0 {
   left: calc(50% - 200px);
}

.l4 #s1 {
    top: 15%;
    left: calc(25% - 100px);
}

.l4 #s2 {
    top: 25%;
    left: calc(12.5% - 50px);
}

.l4 #s3 {
    top: 35%;
    left: calc(7.25% - 20px);
}

.l4 #s4 {
    top: 45%;
    left: calc(5% - 10px);
}

.l4 #s5 {
    top: 45%;
    left: calc(10% - 20px);
}

.l4 #s6 {
    top: 55%;
    left: calc(7.25% - 20px);
}

.l4 #s7 {
    top: 35%;
    left: calc(17.5% - 20px);
}

.l4 #s8 {
    top: 45%;
    left: calc(15% - 10px);
}

.l4 #s9 {
    top: 45%;
    left: calc(20% - 10px);
}

.l4 #s10 {
    top: 55%;
    left: calc(17.5%);
}

.l4 #s11 {
    top: 55%;
    left: calc(22.5% - 10px);
}

.l4 #s12 {
    top: 65%;
    left: calc(20% - 10px);
}

.l4 #s13 {
    top: 75%;
    left: calc(17.5% - 20px);
}

.l4 #s14 {
    top: 85%;
    left: calc(12.5% - 50px);
    right: auto;
}

.l4 #s15 {
    top: 25%;
    left: calc(37.5% - 50px);
    right: auto;
}

.l4 #s16 {
    top: 35%;
    left: calc(32.5% - 20px);
    right: auto;
}

.l4 #s17 {
    top: 45%;
    left: calc(30% - 10px);
    right: auto;
}

.l4 #s18 {
    top: 45%;
    left: calc(35% - 10px);
    right: auto;
}

.l4 #s19 {
    top: 55%;
    left: calc(32.5% - 20px);
    right: auto;
}

.l4 #s20 {
    top: 35%;
    left: calc(42.5% - 30px);
    right: auto;
}

.l4 #s21 {
    top: 45%;
    left: calc(40% - 10px);
    right: auto;
}

.l4 #s22 {
    top: 45%;
    left: calc(45% - 20px);
    right: auto;
}

.l4 #s23 {
    top: 55%;
    left: calc(42.5% - 10px);
    right: auto;
}

.l4 #s24 {
    top: 55%;
    left: calc(47.5% - 10px);
    right: auto;
}

.l4 #s25 {
    top: 65%;
    left: calc(45% - 20px);
    right: auto;
}

.l4 #s26 {
    top: 75%;
    left: calc(42.5% - 30px);
    right: auto;
}

.l4 #s27 {
    top: 85%;
    left: calc(37.5% - 50px);
    right: auto;
 }
.l4 #s28 {
    top: 95%;
    left: calc(25% - 100px);
}

.l4 #s29 {
    top: 15%;
    left: calc(75% - 100px);
}

.l4 #s30 {
    top: 25%;
    left: calc(62.5% - 50px);
}

.l4 #s31 {
    top: 35%;
    left: calc(57.25% - 20px);
}

.l4 #s32 {
    top: 45%;
    left: calc(55% - 10px);
}

.l4 #s33 {
    top: 45%;
    left: calc(60% - 20px);
}

.l4 #s34 {
    top: 55%;
    left: calc(57.25% - 20px);
}

.l4 #s35 {
    top: 35%;
    left: calc(67.5% - 20px);
}

.l4 #s36 {
    top: 45%;
    left: calc(65% - 10px);
}

.l4 #s37 {
    top: 45%;
    left: calc(70% - 10px);
}

.l4 #s38 {
    top: 55%;
    left: calc(67.5%);
}

.l4 #s39 {
    top: 55%;
    left: calc(72.5% - 10px);
}

.l4 #s40 {
    top: 65%;
    left: calc(70% - 10px);
}

.l4 #s41 {
    top: 75%;
    left: calc(67.5% - 20px);
}

.l4 #s42 {
    top: 85%;
    left: calc(62.5% - 50px);
    right: auto;
}

.l4 #s43 {
    top: 25%;
    left: calc(87.5% - 50px);
    right: auto;
}

.l4 #s44 {
    top: 35%;
    left: calc(82.5% - 20px);
    right: auto;
}

.l4 #s45 {
    top: 45%;
    left: calc(80% - 10px);
    right: auto;
}

.l4 #s46 {
    top: 45%;
    left: calc(85% - 10px);
    right: auto;
}

.l4 #s47 {
    top: 55%;
    left: calc(82.5% - 20px);
    right: auto;
}

.l4 #s48 {
    top: 35%;
    left: calc(92.5% - 30px);
    right: auto;
}

.l4 #s49 {
    top: 45%;
    left: calc(90% - 10px);
    right: auto;
}

.l4 #s50 {
    top: 45%;
    left: calc(95% - 20px);
    right: auto;
}

.l4 #s51 {
    top: 55%;
    left: calc(92.5% - 10px);
    right: auto;
}

.l4 #s52 {
    top: 55%;
    left: calc(97.5% - 10px);
    right: auto;
}

.l4 #s53 {
    top: 65%;
    left: calc(95% - 20px);
    right: auto;
}

.l4 #s54 {
    top: 75%;
    left: calc(92.5% - 30px);
    right: auto;
}

.l4 #s55 {
    top: 85%;
    left: calc(87.5% - 50px);
    right: auto;
 }
.l4 #s56 {
    top: 95%;
    left: calc(75% - 100px);
}

.l4 #s57 {
    top: 95%;
    left: calc(50% - 200px);
 }

.l4  .correct {
    box-shadow: 0 0 5px rgba(138, 238, 81);
    border: 1px solid rgb(138, 238, 81);
 }

.l4 .incorrect {
    box-shadow: 0 0 5px rgb(238, 81, 81);
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border: 1px solid rgb(238, 81, 81);
 }


.l4 .incorrect:focus {
    outline: none !important;
    border:1px solid rgb(238, 81, 81);
 }

 .l4 button {
    
    background-color: #3891f7;
    border: solid black 2px;
    color: white;
    font-weight: bold;
    margin: 0 0.3em 0 0.7em;
}

.l4  .controls {
     position: absolute;
 }

 .l4 #c0 {
    left: calc(50% - 37.5px);
    top: 110%;
}

.l4 #c1, #c14, #c13 { 
     left: calc(50% - 75px);
     top: 110%;
 }

 .l4  #c2, #c5, #c6, #c8, #c11, #c12, #c15, #c16, #c18, #c19, #c21, #c24, #c25, #c26 { /* more than one */
     width: 150px;
     left: calc(50% - 75px);
     top: 110%;
 }

 .l4  #c3, #c4, #c7, #c9, #c10, #c17, #c20, #c22, #c23 { /* one */
     left: -15.5px;
     top: 110%;
 }

 .l4  .incorrectBut {
    box-shadow: 0 0 5px rgb(238, 81, 81);
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border: 1px solid rgb(238, 81, 81);
 }

 .l4  .correctBut {
    box-shadow: 0 0 5px rgba(138, 238, 81);
    border: 1px solid rgb(138, 238, 81);
 }

 .l4  .menu-btn {
     width: auto;
 }

 .l4  .lives {
    position: absolute;
    right: 5%;
    top: 2%;
    border: 5px solid #1565c0;
    padding: 0 10px 0 10px;
    font-weight: 600;
 }
 
 .l4 #steps {
    position: absolute;
    left: 2%;
    top: 2%;
    border: 2px solid #1565c0;
    color: #000;
    font-family: sans-serif;
    font-size: 0.9rem;
    width: 300px;
  }
  
  .l4   #steps #heading {
    padding: 8px;
    margin: -2px;
    background: #1565c0;
    color: white;
    font-weight: 700;
  }
  
  .l4  #step {
    padding: 8px;
  }
  
