.admin-login {
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ), url("https://media.discordapp.net/attachments/460892961862057984/943257909918334986/wp5264675-1920x1080-aesthetic-wallpapers.jpg?width=1340&height=754");
    background-size: cover;
    font-family: 'Playfair Display', serif;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="Submit"] {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #eb9cdb;
    border: 1px solid #eb9cdb;
    color: black;
    padding: 10px 30px;
  }
  
  input[type="Submit"]:hover {
    background-color: #eb9cdb; 
  }
  
  .button-container {
    display: flex;
  }

  .button{
    background-color: #efb8e4; 
    border: none;
    color: #000000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.buttons
{
    background-color: #eb9cdb; 
    color: black; 
    border: 2px solid #eb9cdb;
}

.buttons:hover{
    background-color: white;
    color: black;
}

  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
    justify-content: center;
  }
  
  .error {
    color: red;
    font-size: 12px;
    justify-content: center;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    justify-content: center;
  }