iframe {
    display: none;
}
#av {
    width: 98%;
    position: relative;
  }
  .jsavcounter {
    position: absolute;
    top: 15px;
    background: red;
    padding: 5px 10px;
    color: #fff;
    font-family: Arial;
    font-weight: 700;
    border-radius: 20px;
    right: 10px;
  }
  path {
    pointer-events: visible;
  }
  .jsavcontrols span {
    border-radius: 10px;
    background-color: #88E8F5;
    border: none;
    width: 100px;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .jsavoutput.jsavline {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    height: 10px;
  }